.container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-image: url("../assets/images/programmer.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  overflow-x: hidden;
}

.search-col {
  font-size: 120%;
  padding: 0;
}

.dropdown {
  margin:auto;
  width: 100%;
  display: inline-block;
  margin-top: 1%;
}

.search-input {
  background-color: rgba(230, 231, 255, 0.8);
  border-radius: 0;
  width: 96%;
  float:left;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.search-button {
  float: left;
  background-color: grey;
  width: 5%;
  color: white;
  margin-left: -1%;
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.detected-object {
  font-size: 1.2em;
  box-shadow: 1px 1px 5px #888888;
  background-color: rgba(230, 231, 255, 0.7);
  padding: 2%;
  margin-top: 2%
}

.detected-image {
  float: left;
  width: 20%;
  margin-right: 2%;
}

.detected-data {
  float: left;
  width: 60%;
}
