<div [className]="'container'">
  <div [className]="'row'" >
    <div [className]="'col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-sm-8 col-md-8 col-xs-8 search-col'">
      <div [className]="'dropdown'">

        <input [(ngModel)]="searchByDate" [className]="'search-input'" type="text" placeholder="Search by date" id="date">
        <button  type="button" data-toggle="dropdown" [className]="'search-button dropdown-toggle'">
          <span [className]="'glyphicon glyphicon-search'"></span>
        </button>

      </div>

      <div [className]="'dropdown'">
        <input  [(ngModel)]="searchByCamera" [className]="'search-input'" type="text" placeholder="Search by camera"  id="searchByCamera">
        <button [className]="'search-button dropdown-toggle'" type="button" data-toggle="dropdown">
          <span [className]="'glyphicon glyphicon-search'"></span>
        </button>
        <!--<ul class="list dropdown-menu">

        </ul>-->
      </div>
    </div>
  </div>

  <div [className]="'row detected-container'" *ngFor="let camera of ocw.cameras" >
    <div  [className]="'detected-object col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-sm-8 col-md-8 col-xs-8'" *ngFor="let image of camera.images">
      <img [className]="'detected-image'" src="{{image.imageName}}">
      <div [className]="'detected-data'">
        <p><b>{{camera.cameraName}}</b></p>
        <p>{{image.imageDate}}</p>
      </div>
    </div>
  </div>

</div>

